Flask==3.1.2
pyodbc==4.0.35
python-box==5.4.1
requests==2.26.0
python-dotenv==1.0.0
Flask-Cors==4.0.2
flask_swagger_ui==4.11.1
flask_jwt_extended==4.6.0
rich==13.3.3
toml==0.10.2
Babel==2.11.0
google-api-python-client==2.111.0
google-auth-oauthlib==1.2.0
boto3==1.35.7
Pillow==12.0.0
numpy==2.3.4
bs4==0.0.2
playwright==1.55.0
boto==2.49.0
Jinja2==3.1.4
selenium==4.18.1
