name: Semgrep

on:
  pull_request:
  push:
    branches: ["*"]

jobs:
  semgrep:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    container:
      image: semgrep/semgrep
    steps:
      - uses: actions/checkout@v4

      - name: Create dummy file
        run: touch dummy.py
        
      - name: Run Semgrep
        run: semgrep ci --sarif --output=semgrep.sarif dummy.py

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif
